body
{
	font-family:verdana,sans 'Lato', sans-serif;
	font-size:18px;
	margin:0;
	background:white;
}
html
{
    margin: 0;
    padding: 0;	
}
ul, li, form, p, h1, h2, h3, h4, h5 ,h6
{
	margin:0;
}
.clearfix:after
{
	content:" ";
	clear:both;
	visibility:hedden;
	display:block;
	height:0px;
}
.clsli_bulet
{
	text-align: left;
	background-image: url('../images/right_ico2.png');
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-bottom: 2rem;
}
.clsCont
{
	padding:0px 5%;
}
/* Background Color */

.clsBg_col1
{
	background:#0057e7;
}
.clsBg_col2
{
	background:#ff7518;
}

.clsBg_col_wht
{
	background:#ffffff;
}
.clsBg_col_gry
{
	background:#f7f7f7;
}
.clsBg_col_blc
{
	background:#2c2c2c;
}
.clsBg_col_blc_drk
{
	background:#1e1e1e;
}
/* Background Images */

.clsBg_img1_fixed
{
	background:#172a38 url('../images/bg1.jpg') no-repeat fixed center top;
}
.clsBg_img2_fixed
{
	background:#111111 url('../images/bg2.jpg') no-repeat fixed center top;
}
.clsBg_img3_fixed
{
	background:#dbdbdb url('../images/bg3.jpg') no-repeat fixed center top;
}

.clsPad_lg
{
	padding:10% 20px;
}
.clsPad_md
{
	padding:6% 20px;
}
.clsPad_sm
{
	padding:4% 20px;
}

/* Padding Top*/

.clsPad_top3
{
	padding-top:3px;
}
.clsPad_top5
{
	padding-top:5px;
}
.clsPad_top10
{
	padding-top:10px;
}
.clsPad_top15
{
	padding-top:15px;
}
.clsPad_top20
{
	padding-top:20px;
}
.clsPad_top25
{
	padding-top:25px;
}
.clsPad_top30
{
	padding-top:30px;
}
.clsPad_top35
{
	padding-top:35px;
}
.clsPad_top40
{
	padding-top:40px;
}
.clsPad_top50
{
	padding-top:50px;
}

/* Padding Bottom*/

.clsPad_bot3
{
	padding-bottom:3px;
}
.clsPad_bot5
{
	padding-bottom:5px;
}
.clsPad_bot10
{
	padding-bottom:10px;
}
.clsPad_bot15
{
	padding-bottom:15px;
}
.clsPad_bot20
{
	padding-bottom:20px;
}
.clsPad_bot25
{
	padding-bottom:25px;
}
.clsPad_bot30
{
	padding-bottom:30px;
}
.clsPad_bot35
{
	padding-bottom:35px;
}
.clsPad_bot40
{
	padding-bottom:40px;
}
.clsPad_bot50
{
	padding-bottom:50px;
}

/* Padding Inner*/

.clsPad_in3
{
	padding:3px 20px;
}
.clsPad_in5
{
	padding:5px 20px;
}
.clsPad_in10
{
	padding:10px 20px;
}
.clsPad_in15
{
	padding:15px 20px;
}
.clsPad_in20
{
	padding:20px 20px;
}
.clsPad_in25
{
	padding:25px 20px;
}
.clsPad_in30
{
	padding:30px 20px;
}
.clsPad_in35
{
	padding:35px 20px;
}
.clsPad_in40
{
	padding:40px 20px;
}
.clsPad_in45
{
	padding:45px 20px;
}
.clsPad_in50
{
	padding:50px 20px;
}

/* Padding*/

.clsPadding5
{
	padding:5px;
}
.clsPadding10
{
	padding:10px;
}
.clsPadding15
{
	padding:15px;
}
.clsPadding20
{
	padding:20px;
}
.clsPadding25
{
	padding:25px;
}
.clsPadding30
{
	padding:30px;
}
.clsPadding35
{
	padding:35px;
}
.clsPadding40
{
	padding:40px;
}
.clsPadding45
{
	padding:45px;
}
.clsPadding50
{
	padding:50px;
}

.clsMarg_bot
{
	margin-bottom:30px;
}
/* Text Color */

.clsTxt_wht
{
	color:#ffffff;
}
.clsTxt_blc
{
	color:#0057e7;
}
.clsTxt_gry
{
	color:#303030;
}
.clsTxt_light
{
	color:#dbdbdb;
}
.clsTxt_col
{
	color:#fab31b;
}

/* Text Size */

.clsTxt_sm
{
	font-size:14px;
}
.clsTxt_md
{
	font-size:30px;
}
.clsTxt_lg
{
	font-size:50px;
}

.clsHead
{
	font-family: 'Montserrat', sans-serif;
}
.clsPg_cont
{
	font-size: 19px;
	line-height: 28px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	color: #222;
}
/* Text Format */

.clsTxt_up
{
	text-transform:uppercase;
}
.clsTxt_low
{
	text-transform:lowercase;
}
.clsTxt_cap
{
	text-transform:capitalize;
}

/* Text Shadow */

.clsTxt_shdw_blc
{
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.clsTxt_shdw_wht
{
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
}


/* Text Alignment */

.clsAlign_left
{
	text-align:left;
}
.clsAlign_right
{
	text-align:right;
}
.clsAlign_center
{
	text-align:center;
}



/* Boreder */

.clsBlc_bodr
{
    border:1px solid #cacaca;
}
.clsWht_bodr
{
    border:1px solid #ffffff;
}
.clsGry_bodr
{
    border:1px solid #4d4d4c;
}

/* Boreder Top */

.clsBlc_bodr_top
{
    border-top:1px solid #4c4c4c;
}
.clsWht_bodr_top
{
    border-top:1px solid #ffffff;
}
.clsGry_bodr_top
{
    border-top:1px solid #d2d2d2;
}

/* Boreder Bottom */

.clsBlc_bodr_bottom
{
    border-bottom:1px solid #000000;
}
.clsWht_bodr_bottom
{
    border-bottom:1px solid #ffffff;
}
.clsGry_bodr_bottom
{
    border-bottom:1px solid #d2d2d2;
}

/* Border Dashed */

.clsColr_bodr
{
	background:#fcf7d8;
	border: 3px dashed #d60a1a
}


/* Video Background */

.clsVid_bg_blc {
    background: black url("../images/play_ico.png") no-repeat scroll center center;
    border: 6px solid #282837;
}
.clsVid_bg_wht {
    background: black url("../images/play_ico.png") no-repeat scroll center center;
    border: 6px solid #ffffff;
}
.clsVid_bg_colr {
    background: black url("../images/play_ico.png") no-repeat scroll center center;
    border: 6px solid #eaab00;
}



/* None */

.clsNo_Bg
{
	background:transparent;
}
.clsNo_Pad
{
	padding:0px;
}
.clsNo_Marg
{
	margin:0px;
}
.clsNo_Bodr
{
	border:none;
}

/* Well Color */

.clsWell_wht
{
	background:white;
}
.clsWell_gry
{
	background:#efefef;
}
.clsWell_blc
{
	background:#262626;
}
.clsWell_col
{
	background:#ff7518;
}


/* Border Radius */

.clsRadius8
{
	border-radius:8px;
}



.clsWell_head
{
	background:#0057e7;
	border-radius:10px 10px 0px 0px;
}
.clsWell_body
{
	border: 10px solid #fff;
	box-shadow: 3px 2px 3px 2px #e6e6e6;
	background: white;
	border-radius:0px 0px 10px 10px;
}
